
.collapsible-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.collapsible-header > div {
  min-width: 30%;
}

.collapsible-header > div:nth-child(2) {text-align: center;}
.collapsible-header > div:nth-child(3) {text-align: right;}

.collapsible-body {
  padding: 2rem 3rem;
}

.status-red {
  color: #F44336;
}
.status-yellow {
  color: orange;
}
.status-green {
  color: #4CAF50;
}
.status-gray {
  color: #888888;
}
