
<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li *ngFor="let order of orderHistory">

    <div class="collapsible-header">
      <div>
        Order status:
        <span [ngClass]="{
          'status-red': order.status === 'PENDING' || order.status === 'CANCELLED',
          'status-yellow': order.status === 'ACCEPTED' || order.status === 'AWAITING_RESUPPLY',
          'status-green': order.status === 'SHIPPED'
        }">
          {{ order.status }}
        </span>
      </div>
      <div>
        Order date: {{ toReadableDate(order.createdAt) }}
      </div>
      <div>
        Total price: kr {{ order.total_price.toFixed(2) }}
      </div>
    </div>

    <div class="collapsible-body">
      <button *ngIf="order.status === 'PENDING'"
              type="button"
              (click)="openDismissOrderModal(order)"
              class="btn waves-effect waves-light red">
        Cancel this order
      </button>
      <table class="striped">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Manufacturer</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orderLine of order.order_details">
          <td>
            {{ orderLine.quantity }}
          </td>
          <td>
            {{ orderLine.product.manufacturer }}
          </td>
          <td>
            {{ orderLine.product.name }}
          </td>
          <td>
            kr {{ orderLine.line_price.toFixed(2) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </li>
</ul>

<div materialize="modal" [materializeActions]="modalActions" id="confirmDismissOrderModal" class="modal">
  <div class="modal-content">
    <h4>Cancel order</h4>
    <p>Are you sure you want to cancel this order?</p>
    <p>An order can only be cancelled if it is still pending.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-action waves-effect btn-flat"
            (click)="cancelDismissOrder()">
      Close
    </button>
    <button type="button" class="modal-action waves-effect btn-flat"
            (click)="dismissOrder()">
      Cancel order
    </button>
  </div>
</div>
