
<div *ngIf="currentUser" class="section">
  <h2>{{currentUser.email}}</h2>
</div>

<div *ngIf="!currentUser" class="section">
  <p>You must log in to view this page.</p>
</div>

<div *ngIf="orderHistory?.length > 0" class="section">
  <h3>Your order history</h3>
  <app-order-history-list [orderHistory]="orderHistory" (dismissOrderCallback)="dismissOrder($event)"></app-order-history-list>
</div>

<div *ngIf="currentUser?.isAdmin" class="section">
  <h3>Admin</h3>
  <p>Navigate through the product pages to find and edit existing products or click the button below to create a new product</p>
  <p><a routerLink="/products/new" class="btn waves-effect waves-light">Create new product</a></p>
</div>
