
<div class="row">
  <div class="col s12">
    <div class="card indigo lighten-5">
      <div class="card-content">
        <span class="card-title">Search and filter</span>

        <form [formGroup]="formGroup">
          <div class="input-field row">
            <input
              type="text" id="search" name="search"
              formControlName="search"
            />
            <label for="search" class="black-text">search</label>
          </div>
          <div class="row">
            <label>sort by</label>
            <select formControlName="sort" name="sort" materialize="material_select">
              <option value="name ASC" selected>Name</option>
              <option value="manufacturer ASC"> Manufacturer </option>
              <option value="price DESC"> Price high-low </option>
              <option value="price ASC"> Price low-high </option>
            </select>
          </div>
          <div class="input-field row">
            <input
              formControlName="minPrice"
              name="minPrice"
              type="number"
              id="minPrice"
              min="0"
            />
            <label for="minPrice" class="black-text">min price</label>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
