
<div class="row product-filter">
    <div class="card">
      <div class="card-content">
        <form [formGroup]="formGroup">
          <div class="section">
            <label> Search </label>
            <div class="input-field">
              <input
                type="text" formControlName="search"
                id="search" name="search" />
              <label for="search" class="black-text"> Search </label>
            </div>
          </div>

          <div class="section">
            <label> Sort by </label>
            <select formControlName="sort" name="sort" materialize="material_select">
              <option value="name ASC" selected>Name</option>
              <option value="manufacturer ASC"> Manufacturer </option>
              <option value="price DESC"> Price high-low </option>
              <option value="price ASC"> Price low-high </option>
            </select>
          </div>

          <div class="section">
            <label> Price </label>
            <p> {{ formGroup.value.minPrice }} - 2000 </p>
            <p class="range-field">
              <input
                type="range" formControlName="minPrice"
                id="minPrice" name="minPrice"
                min="0" max="2000" />
            </p>
          </div>
        </form>
      </div>
    </div>
</div>
