
.product-list-item {
  display: flex;
  justify-content: space-between;
}

.product-list-box:hover {
  background-color: #e8eaf6;
}

.price-box {
  display: flex;
}

.deal-display {
  margin-right: 30px;
}

.old-price {
  text-decoration: line-through;
}
