
.radio-container {
  margin-top: 5px;
}

.radio-container .row {
  margin-bottom: 15px;
}

.inline {
  margin: 0;
}

.inline input {
  margin: 0;
  height: 24px;
  width: 50px;
  text-align: center;
}

.input-field input:valid.ng-dirty,
.input-field textarea:valid.ng-dirty {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

.input-field input:invalid,
.input-field textarea:invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}
