<div class="row">
  <div *ngIf="cartList?.length <= 0" class="card-panel indigo lighten-5 flow-text">
    <p> Your shopping cart is empty. Go buy something! </p>
  </div>
  <table *ngIf="cartList?.length > 0" class="bordered">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th class="cart-td-right">Subtotal</th>
      <th></th>
    </tr>
    <tr class="shopping-cart-item" *ngFor="let item of cartList" >
      <td *ngIf="!productLoaded(item)" colspan="4">
        <div class="progress">
          <div class="indeterminate" ></div>
        </div>
      </td>
      <td *ngIf="productLoaded(item)">
        <div>
          <a [routerLink]="['/product', item._prodId]" class="black-text">
            {{product(item).name}}
          </a>
        </div>
      </td>
      <td class="cart-td-center" *ngIf="productLoaded(item)">
        <button (click)="updateQty($event, item, 1)" class="btn-flat waves-effect waves-light cart-btn-small"><i class="material-icons cart-icon-btn">add</i></button>
        <span>{{item.quantity}}</span>
        <button (click)="updateQty($event, item, -1)" class="btn-flat waves-effect waves-light cart-btn-small"><i class="material-icons cart-icon-btn">remove</i></button>
      </td>
      <td class="cart-td-right" *ngIf="productLoaded(item)">{{item.quantity * product(item).price.toFixed(2)}}kr</td>
      <td class="cart-td-center">
        <button class="btn cart-btn-small red" (click)="deleteItem($event, item)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr class="checkout-sum">
      <td>Sum</td>
      <td class="cart-td-center">{{totalCount()}}</td>
      <td class="cart-td-right">
        <div *ngIf="loadedCount < cartList.length" class="progress">
          <div class="determinate" [style.width.%]="100 * loadedCount/cartList.length"></div>
        </div>
        <span *ngIf="loadedCount >= cartList.length">{{totalPrice()}}kr</span>
      </td>
      <td></td>
    </tr>
  </table>
</div>


